/node_modules
/public/hot
/public/storage
/storage/*.key
#/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

*.DS_Store

/public/.well-known/acme-challenge

/public/files
/public/forum/cache
/public/forum/Settings.php
/public/forum/attachments
public/assets/vatsim/vatsim-data.txt

/app/config/app.php
/app/config/database.php
/app/config/mail.php
/app/config/packages/vatsim/sso/config.php
/app/config/packages/vatsim/sso/local/config.php
/public/forum/Settings.php

