<IfModule mod_headers.c>
	Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
	Header always set X-Frame-Options "SAMEORIGIN"
	Header always set X-Xss-Protection "1; mode=block"
	Header always set X-Content-Type-Options "nosniff"
	Header always set Content-Security-Policy "default-src https:"
	Header always set Referrer-Policy "strict-origin"
	Header always set Expect-CT "max-age=0, report-uri=\"https://90075e90b20ed49bd40935a27396dbcb.report-uri.com/r/d/ct/reportOnly\""
</IfModule>
